<header>
	<h1>BEERBINGO!</h1>
	<p>BeerBingo er en elektronisk drikkelek. <strong>Reglene er enkle: Får du BINGO må du drikke.</strong></p>
</header>
<div class="main-container">
	<div>
		<button ng-click="newGame()">OPPRETT ET NYTT SPILL</button> eller bli med på et av de som allerede finnes.
	</div>
	<div class="game" ng-repeat="item in items">
		<h2 class="name">
			<a href="#/game/{{item.id}}">{{item.name}}</a>
		</h2>
		<div>
			Spillere: {{item.boards.length}}
		</div>
		<div>
			<button ng-click="addBoardToGame(item)">BLI MED</button>
		</div>
	</div>
</div>